[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting
[submodule "stable-diffusion-webui"]
	path = stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui
[submodule "Fooocus"]
	path = Fooocus
	url = https://github.com/lllyasviel/Fooocus
[submodule "ebsynth"]
	path = ebsynth
	url = https://github.com/jamriska/ebsynth
[submodule "swin2sr"]
	path = swin2sr
	url = https://github.com/mv-lab/swin2sr
