[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting
[submodule "stable-diffusion-webui"]
	path = stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui
[submodule "Fooocus"]
	path = Fooocus
	url = https://github.com/lllyasviel/Fooocus
[submodule "Fooocus-API"]
	path = Fooocus-API
	url = https://github.com/mrhan1993/Fooocus-API
[submodule "swin2sr"]
	path = swin2sr
	url = https://github.com/mv-lab/swin2sr
[submodule "Ezsynth"]
	path = Ezsynth
	url = https://github.com/Trentonom0r3/Ezsynth
